In [10]:
import numpy as np
import pandas as pd
df = pd.read_csv(r'C:\Users\User\Desktop\Udemy Data Science Course Resources\03-Pandas\Sales_Funnel_CRM.csv')

In [11]:
df.head()

,Account Number,Company,Contact,Account Manager,Product,Licenses,Sale Price,Status
0,2123398,Google,Larry Pager,Edward Thorp,Analytics,150,2100000,Presented
1,2123398,Google,Larry Pager,Edward Thorp,Prediction,150,700000,Presented
2,2123398,Google,Larry Pager,Edward Thorp,Tracking,300,350000,Under Review
3,2192650,BOBO,Larry Pager,Edward Thorp,Analytics,150,2450000,Lost
4,420496,IKEA,Elon Tusk,Edward Thorp,Analytics,300,4550000,Won

In [18]:
df['Company'].unique()

array([' Google', 'BOBO', 'IKEA', 'Tesla Inc.', 'Microsoft', 'Walmart',
       'Apple', 'Exxon Mobile', 'ATT', 'CVS Health', 'Salesforce',
       'Cisco'], dtype=object)