In [20]:
import pandas as pd
import numpy as np

In [21]:
#pip install sqlalchemy

^ This was already done by the environment for this course, but this would otherwise need to be done, or the equivalent with a different sql client

There are all sorts of different dialects, like PostgreSQL, MySQL, etc., and which one is used depends on the company you're working for presumably. I am using SQLite in this course

In [22]:
from sqlalchemy import create_engine

In [35]:
temp_db = create_engine('sqlite:///:memory:')

^ This creates a temporary SQLite database within the computer's RAM

You'll have to go to SQlAlchemy to find the actual connection string which applies to the SQL client you're using. It might look like

mysql+pymysql://username:password@host/dbname[?options] 

for instance

It's all available in the doccumentation for the SQL client, which is easy to find using Google

I'm pretty sure SQLite comes with python nowadays

In [48]:
df = pd.DataFrame(data = np.random.randint(low = 0, high = 100, size = (4,4)), columns = ['a', 'b', 'c', 'd'])

In [49]:
df

    a   b   c   d
0  18  16  59  29
1  42  43  17  34
2  92  40  26  53
3  86  52  59  97

df.to_sql(name = 'new_table', con = temp_db)

Note: The name argument in df.to_sql() is the name of the new table being created, not the name of the existing table which is being converted to sql. 

con = 

takes in the existing database. The actual dataframe is taken in by the fact that the whole thing is a method of df.

the default option for if_exists within df.to_sql is 'fail'.

i.e if you try to run the same command, by default it will fail so that you don't accidentally override an entire sql table:

In [52]:
df.to_sql(name = 'new_table', con = temp_db, index = False, if_exists = 'replace')

4

the other options are if_exists = 'replace' which deletes the existing table and overrides it with new data, which is a fairly dangerous option, and if_exists = 'append' which just adds the new data onto the end of the existing table

In general, it's very important to be careful when using if_exists = 'replace'

Pandas holds tables in RAM, so only load in the entire table at once if you absolutely need to.

i.e. if the table has a size of 50GB, pandas will need 50GB+ of RAM to actually open and manipulate the table

how to read in an entire table at once:

In [53]:
new_df = pd.read_sql(sql = 'new_table', con = temp_db)

Again, the arguments here are sql = the name of the table and con = the name of the database

In [54]:
new_df

    a   b   c   d
0  18  16  59  29
1  42  43  17  34
2  92  40  26  53
3  86  52  59  97

The first time around, I did this without including index = False in the df.to_sql() call, which resulted in a redundant column for index. I ran it again with that argument to get rid of the unneeded index.

Also, I had trouble the first time around with the connection because I forgot to include the final : colon in 'sqlite:///:memory:'

In order to get the dataframe to show up without the additional column, you have to use if_exists = 'replace', and you have to make sure that the index and if_exists arguments are in the correct order or you'll get an error

In the example below, the string in the 

sql = 

argument is actual SQL syntax, which means you can do basic SQL filtering before importing into python

In [55]:
result = pd.read_sql_query(sql = 'SELECT a,c FROM new_table', con = temp_db)

In [56]:
result

    a   c
0  18  59
1  42  17
2  92  26
3  86  59

The SQL syntax allowed only columns a and c to be selected, which presumably is a more RAM-efficent way of doing things since the entire table doesn't have to be called up into python where it is being stored within the temporary database using RAM