In [23]:
import numpy as np
import pandas as pd

In [24]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [25]:
sales_q1 = pd.Series(q1, dtype=int)
sales_q2 = pd.Series(q2, dtype=int)

In [26]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int32

In [27]:
sales_q1['Japan']

80

In [28]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

This function, sales_q1.keys() gives the list of keys, in case you are having trouble calling an item

In [29]:
[1,2] * 2

[1, 2, 1, 2]

In [30]:
np.array([1,2])*2

array([2, 4])

when set to be an array, the values are all doubled, otherwise the array itself is doubled.

In [31]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

If for some reason, you need to get a percentage form, this works

In [32]:
sales_q1+ sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

Because Brazil and Japan are both present in only one of the two series, Pandas report back NaN.

In the other cases, it adds the two together.

In order to bypass this, you have to fill in the missing data with zeroes, so that they can be added together

In [36]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

Now the empty cells are filled with zeroes, allowing the sales quarters to be combined